*~
*.cxx
*.o
*.a
*moc_*
*qrc_*
*.cmake
*.tar.gz
*__*
*CMake*
Makefile
bin/
dustrac.pro.user
dustrac.pro.user.2.1pre1
engine.txt
header.txt
src/editor/Makefile
src/editor/editor
src/game/Makefile
src/game/Makefile.Debug
src/game/Makefile.Release
src/game/MiniCore/Core/genincludeheaders.sh
*.cbp
dustrac-editor
dustrac-game
test/
unittests/

