.gitignore
Makefile
bin/
data/images/dustrac.png
dustrac.pro.user
dustrac.pro.user.2.2pre5
src/editor/Makefile
src/editor/config.o
src/editor/editor
src/editor/editordata.o
src/editor/editorscene.o
src/editor/editorview.o
src/editor/main.o
src/editor/mainwindow.o
src/editor/map.o
src/editor/moc_editorscene.cpp
src/editor/moc_editorscene.o
src/editor/moc_editorview.cpp
src/editor/moc_editorview.o
src/editor/moc_mainwindow.cpp
src/editor/moc_mainwindow.o
src/editor/moc_newtrackdialog.cpp
src/editor/moc_newtrackdialog.o
src/editor/moc_tileanimator.cpp
src/editor/moc_tileanimator.o
src/editor/moc_tiletypedialog.cpp
src/editor/moc_tiletypedialog.o
src/editor/newtrackdialog.o
src/editor/objectloader.o
src/editor/qrc_images.cpp
src/editor/qrc_images.o
src/editor/route.o
src/editor/tileanimator.o
src/editor/tiletypedialog.o
src/editor/trackdata.o
src/editor/trackio.o
src/editor/tracktile.o
src/editor/tracktilebase.o
src/editor/version.o
src/game/Makefile
src/game/car.o
src/game/config.o
src/game/game
src/game/game.o
src/game/main.o
src/game/mainwindow.o
src/game/map.o
src/game/mccamera.o
src/game/mccircleshape.o
src/game/mccollisionevent.o
src/game/mccontact.o
src/game/mccontactresolver.o
src/game/mcdragforcegenerator.o
src/game/mcevent.o
src/game/mcexception.o
src/game/mcfont.o
src/game/mcforcegenerator.o
src/game/mcforceregistry.o
src/game/mcfrictiongenerator.o
src/game/mcglcircleparticle.o
src/game/mcglrectparticle.o
src/game/mcgravitygenerator.o
src/game/mclogger.o
src/game/mcobject.o
src/game/mcoutofboundariesevent.o
src/game/mcparticle.o
src/game/mcquadtree.o
src/game/mcrandom.o
src/game/mcrectshape.o
src/game/mcshape.o
src/game/mcspringforcegenerator.o
src/game/mcspringforcegenerator2dfast.o
src/game/mcsurface.o
src/game/mcsurfaceparticle.o
src/game/mcsurfaceview.o
src/game/mctext.o
src/game/mctextblock.o
src/game/mctexturemanager.o
src/game/mctextureparser.o
src/game/mctrigonom.o
src/game/mcworld.o
src/game/moc_game.cpp
src/game/moc_game.o
src/game/moc_mainwindow.cpp
src/game/moc_mainwindow.o
src/game/moc_renderer.cpp
src/game/moc_renderer.o
src/game/moc_timing.cpp
src/game/moc_timing.o
src/game/race.o
src/game/renderer.o
src/game/route.o
src/game/scene.o
src/game/timing.o
src/game/track.o
src/game/trackdata.o
src/game/trackloader.o
src/game/tracktile.o
src/game/tracktilebase.o
changes
