Makefile
bin/
dustrac.pro.user
dustrac.pro.user.2.1pre1
engine.txt
header.txt
src/editor/Makefile
src/editor/config.o
src/editor/editor
src/editor/editordata.o
src/editor/editorscene.o
src/editor/editorview.o
src/editor/main.o
src/editor/mainwindow.o
src/editor/map.o
src/editor/moc_editorscene.cpp
src/editor/moc_editorscene.o
src/editor/moc_editorview.cpp
src/editor/moc_editorview.o
src/editor/moc_mainwindow.cpp
src/editor/moc_mainwindow.o
src/editor/moc_newtrackdialog.cpp
src/editor/moc_newtrackdialog.o
src/editor/moc_tileanimator.cpp
src/editor/moc_tileanimator.o
src/editor/moc_tiletypedialog.cpp
src/editor/moc_tiletypedialog.o
src/editor/newtrackdialog.o
src/editor/object.o
src/editor/objectbase.o
src/editor/objectloader.o
src/editor/objects.o
src/editor/qrc_common.cpp
src/editor/qrc_images.cpp
src/editor/qrc_images.o
src/editor/route.o
src/editor/tileanimator.o
src/editor/tileloader.o
src/editor/tiletypedialog.o
src/editor/trackdata.o
src/editor/trackio.o
src/editor/tracktile.o
src/editor/tracktilebase.o
src/editor/version.o
src/game/Makefile
src/game/Makefile.Debug
src/game/Makefile.Release
src/game/MiniCore/Core/Core.pro~
src/game/MiniCore/Core/genincludeheaders.sh
src/game/MiniCore/Core/genincludeheaders.sh~
src/game/MiniCore/Core/mcmatrix22
src/game/MiniCore/Core/mcmatrix33
src/game/MiniWidgets/tests/Makefile
src/game/MiniWidgets/tests/mwselector/Makefile
src/game/MiniWidgets/tests/mwselector/main.o
src/game/MiniWidgets/tests/mwselector/moc_mwobject.cpp
src/game/MiniWidgets/tests/mwselector/moc_mwobject.o
src/game/MiniWidgets/tests/mwselector/moc_mwselector.cpp
src/game/MiniWidgets/tests/mwselector/moc_mwselector.o
src/game/MiniWidgets/tests/mwselector/moc_mwwidget.cpp
src/game/MiniWidgets/tests/mwselector/moc_mwwidget.o
src/game/MiniWidgets/tests/mwselector/mwobject.o
src/game/MiniWidgets/tests/mwselector/mwscene.o
src/game/MiniWidgets/tests/mwselector/mwselector
src/game/MiniWidgets/tests/mwselector/mwselector.o
src/game/MiniWidgets/tests/mwselector/mwwidget.o
src/game/MiniWidgets/tests/mwtext/Makefile
src/game/MiniWidgets/tests/mwtext/main.o
src/game/MiniWidgets/tests/mwtext/moc_mwobject.cpp
src/game/MiniWidgets/tests/mwtext/moc_mwobject.o
src/game/MiniWidgets/tests/mwtext/moc_mwwidget.cpp
src/game/MiniWidgets/tests/mwtext/moc_mwwidget.o
src/game/MiniWidgets/tests/mwtext/mwobject.o
src/game/MiniWidgets/tests/mwtext/mwscene.o
src/game/MiniWidgets/tests/mwtext/mwtext
src/game/MiniWidgets/tests/mwtext/mwtext.o
src/game/MiniWidgets/tests/mwtext/mwwidget.o
src/game/car.o
src/game/config.o
src/game/game
src/game/game.o
src/game/game.pro.user
src/game/inputhandler.o
src/game/main.o
src/game/mainwindow.o
src/game/map.o
src/game/mccamera.o
src/game/mccircleshape.o
src/game/mccollisionevent.o
src/game/mccontact.o
src/game/mccontactresolver.o
src/game/mcdragforcegenerator.o
src/game/mcevent.o
src/game/mcexception.o
src/game/mcfont.o
src/game/mcforcegenerator.o
src/game/mcforceregistry.o
src/game/mcfrictiongenerator.o
src/game/mcglcircleparticle.o
src/game/mcglobjectdata.o
src/game/mcglrectparticle.o
src/game/mcgravitygenerator.o
src/game/mclogger.o
src/game/mcobject.o
src/game/mcobjectdata.o
src/game/mcobjectfactory.o
src/game/mcoutofboundariesevent.o
src/game/mcparticle.o
src/game/mcquadtree.o
src/game/mcrandom.o
src/game/mcrectshape.o
src/game/mcshape.o
src/game/mcspringforcegenerator.o
src/game/mcspringforcegenerator2dfast.o
src/game/mcsurface.o
src/game/mcsurfaceobjectdata.o
src/game/mcsurfaceparticle.o
src/game/mcsurfaceview.o
src/game/mctext.o
src/game/mctextblock.o
src/game/mctextureconfigloader.o
src/game/mctexturemanager.o
src/game/mctextureparser.o
src/game/mctrigonom.o
src/game/mcworld.o
src/game/moc_game.cpp
src/game/moc_game.o
src/game/moc_gamewidgetabs.cpp
src/game/moc_mainwindow.cpp
src/game/moc_mainwindow.o
src/game/moc_mwobject.cpp
src/game/moc_mwselector.cpp
src/game/moc_mwwidget.cpp
src/game/moc_renderer.cpp
src/game/moc_renderer.o
src/game/moc_timing.cpp
src/game/moc_timing.o
src/game/object_script.game.Debug
src/game/object_script.game.Release
src/game/objectbase.o
src/game/objects.o
src/game/race.o
src/game/renderer.o
src/game/route.o
src/game/scene.o
src/game/slidefrictiongenerator.o
src/game/timing.o
src/game/track.o
src/game/trackdata.o
src/game/trackloader.o
src/game/trackobject.o
src/game/tracktile.o
src/game/tracktilebase.o
track_format.txt

.gitignore~
