[Desktop Entry]
Name=Dust Racing Level Editor
Comment=2D racing game level editor
Exec=dustrac-editor
Icon=DustRacingEditor
Type=Application
Categories=Game
StartupNotify=true
