[Desktop Entry]
Name=Dust Racing Track Editor
Comment=2D racing game track editor
Exec=dustrac-editor
Icon=DustRacing
Type=Application
Categories=games
StartupNotify=true
