Source: dustrac
Section: games
Priority: extra
Maintainer: Jussi Lind <jussi.lind@iki.fi>
Build-Depends: debhelper (>= 8.0.0), cmake (>= 2.8.0), pkg-config, qt5-default (>= 5.2.0), libqt5opengl5-dev (>= 5.2.0), qttools5-dev (>= 5.2.0), qttools5-dev-tools (>= 5.2.0), libopenal-dev, libvorbis-dev
Standards-Version: 3.9.2
Homepage: https://sourceforge.net/projects/dustrac/
Vcs-Git: git://dustrac.git.sourceforge.net/gitroot/dustrac/dustrac

Package: dustrac
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Tile-based 2D racing game and track editor
 Dust Racing is a tile-based, cross-platform 2D racing game
 written in Qt (C++) and OpenGL. Dust Racing comes with a Qt-based
 level editor for easy level creation.
