header
{
    background-color:black;
    color:white;
}

body
{
    background-color:black;
    color:white;
}

footer
{
    background-color:black;
    color:white;
}
    
a:link
{
    text-decoration:none;
    color:white;
}

a:visited
{
    text-decoration:none;
    color:white;
}

a:hover
{
    text-decoration:none;
    color:yellow;
}

a:active
{
    text-decoration:none;   
    color:white;
}

